@helper GetTreeCategoryManager(List<Ogloszenia_drobne.Models.Category> category, int parent)
{

    foreach (var i in category.Where(a => a.Parent.Equals(parent)))
    {
        <li>
            @{var submenu = category.Where(a => a.Parent.Equals(i.CategoryId)).Count();}
            @if (submenu > 0)
            {
                <span class="collapse collapsible">&nbsp;</span>
            }
            else
            {
                <span style="width:15px; display:inline-block">&nbsp;</span>
            }
            <span>                
                @i.Name
                <input type="submit" class="btnek" id="@i.CategoryId" value="Dodaj" />
                <input type="submit" class="btnek2" id="@i.CategoryId" value="Usuń" />               

                
                <br/>
            </span>
            @if (submenu > 0)
            {
                <ul>
                    @CategoryManagerTree.GetTreeCategoryManager(category, i.CategoryId)
                    @* Recursive  Call for Populate Sub items here*@
                </ul>
            }
        </li>
        
    }
}
