@model List<ogloszenia_drobne.models.advertisement>


    @{


    int num = 20;

    var grid = new WebGrid(canPage: true, rowsPerPage: num, canSort: true
);
    grid.Pager(WebGridPagerModes.All);
    grid.Bind(Model);



    }










    @grid.GetHtml(
                htmlAttributes: new { id = "grid" },
                tableStyle: "webgrid-table",
                headerStyle: "webgrid-header",
                footerStyle: "webgrid-footer",
                alternatingRowStyle: "webgrid-alternating-row",
                rowStyle: "webgrid-row-style",

                columns: grid.Columns(
        //here i will add column for serial no
                                 grid.Column(header: "Nr", format: @<text>@(item.WebGrid.Rows.IndexOf(item) + 1)</text>),
                                                                                                           grid.Column(header: "Kategoria", columnName: "Category.Name"),
                                                                                                           grid.Column(header: "Ogłoszeniodawca", columnName: "User.UserName"),
                                                                                                           grid.Column(header: "Tytuł", columnName: "Title",format: @<text><a href="/Advertisement/Details?id=@item.AdvertisementId">@(item.Title)</a> </text>),

                                                                                                                                                                                                                                                    grid.Column(
                                                                                                                                                                                                                                                    "Data dodania",
                                                                                                                                                                                                                                                    "Data dodania",
                                                                                                                                                                                                                                                    format: (item) => string.Format("{0:dd-MM-yyyy}", item.AddedDate),
                                                                                                                                                                                                                                                    style: "col-sm"


                                                                                                                                                                                                                                                    ),



                                                                                                                                                                                                                                                    grid.Column(columnName: "VisitCounter", header: "Ilość odwiedzin")

                                                                                                                                                                                                                                                    ))


















